/target/
*classpath
*project
*.settings*
.gradle
*metadata
*bin
*build
*node_modules
*bower_components
/bullying-web/src/main/resources/static/app/dist/bullying.js
/bullying-web/src/main/resources/static/app/dist/bullying.min.css
/bullying-web/src/main/resources/static/app/dist/bullying.min.js
/bullying-web/target
