<html>
<head>
<title>stories.calculadora</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: xml"><![CDATA[
<story path="stories/calculadora.story" title="">
<scenario keyword="Scenario:" title="Sumar numeros">
<examples keyword="Examples:">
<step>Given que estoy en la pagina de la calculadora</step>
<step>When ingreso los valores para sumar &lt;numero1&gt; + &lt;numero2&gt;</step>
<step>Then obtengo &lt;resultado&gt;</step>
<parameters>
<names><name>numero1</name><name>numero2</name><name>resultado</name></names>
<values><value>1</value><value>1</value><value>2</value></values>
<values><value>1</value><value>3</value><value>4</value></values>
<values><value>10</value><value>40</value><value>50</value></values>
</parameters>

<example keyword="Example:">{numero1=1, numero2=1, resultado=2}</example>
<step outcome="successful">Given que estoy en la pagina de la calculadora</step>
<step outcome="successful">When ingreso los valores para sumar <parameter>1</parameter> + <parameter>1</parameter></step>
<step outcome="successful">Then obtengo <parameter>2</parameter></step>

<example keyword="Example:">{numero1=1, numero2=3, resultado=4}</example>
<step outcome="successful">Given que estoy en la pagina de la calculadora</step>
<step outcome="successful">When ingreso los valores para sumar <parameter>1</parameter> + <parameter>3</parameter></step>
<step outcome="successful">Then obtengo <parameter>4</parameter></step>

<example keyword="Example:">{numero1=10, numero2=40, resultado=50}</example>
<step outcome="successful">Given que estoy en la pagina de la calculadora</step>
<step outcome="successful">When ingreso los valores para sumar <parameter>10</parameter> + <parameter>40</parameter></step>
<step outcome="successful">Then obtengo <parameter>50</parameter></step>
</examples>
</scenario>
</story>

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
